body {
    border-bottom: 100vh solid rgb(238, 238, 163);
}

li {
    margin-bottom: 5px;
    font-size: 20px;
}

p {
    font-size: 20px;
}

.img_container {
    background-color: rgb(96, 122, 47);
    /* border: 2px solid red; */
}

.image {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-top: 0px;
    /* border: 2px solid red; */
}

.title {
    display: inline-block;
    color: rgb(238, 238, 163);
    font-size: 50px;
    font-weight: 700;
    margin-left: 20px;
    /* border: 2px solid red; */
}

.content {
    background-color: rgb(238, 238, 163);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-left: 150px solid rgb(238, 238, 163);
    border-right: 150px solid rgb(238, 238, 163);
    padding: 5px
}

.subtitle {
    color:rgb(96, 122, 47);
    font-size: 25px;
}


