h1 {
    font-size: 50px;
    background-color: rgb(96, 122, 47);
    color:rgb(238, 238, 163);
    margin:0;
    border-top: 125px solid rgb(96, 122, 47);
    border-bottom: 25px solid rgb(96, 122, 47);
    text-align: center;
}

ul {
    border-top: 20px solid rgb(238, 238, 163);
    border-left: 200px solid rgb(238, 238, 163);
    border-right: 200px solid rgb(238, 238, 163);
    border-bottom: 100vh solid rgb(238, 238, 163);
    background-color:rgb(238, 238, 163);
    margin: 0;
}

li {
    margin-bottom: 30px;
    font-size: 30px;
}
